@import url(http://fonts.googleapis.com/css?family=Oswald);
body {
    background-color: #f3efe3;
    font-family: Georgia, serif;
    font-size: 16px;
}
p {
    font-family: Georgia, serif;
    font-size: 16px;
}
H1 {
    font-family: 'Oswald', sans-serif;
    margin: 0px;
}
H3 {
    font-family: 'Oswald', sans-serif;
}
H6 {
    font-family: 'Oswald', sans-serif;
}
img {
     max-width: 100%;
     max-height: 100%;
}
.container {
    position: relative;
    padding: 71px 0 0 150px;
}
.currents {
    background-color:#ddd9ce;
    text-align: center;
    font-size: 14px;
    padding-bottom: 6px;
    border-radius:5px;
}
.homeContentBox {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fdfbf4;
    min-height: 300px;
    max-width: 800px;
    font-family: Georgia, serif;
    font-size: 20px;
    text-align: center;
    border-radius:5px;
}
.blogContentBox {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fdfbf4;
    max-width: 1000px;
    font-family: Georgia, serif;
    font-size: 20px;
    text-align: center;
    border-radius:5px;

}

a:link {color:#950000;}  
a:visited {color:#575757;}
a:hover {color:#ff0000;} 
a:active {color:#575757;} 

a.navigationLink:link { color: black; text-decoration:none;}
a.navigationLink:visited { color: black; text-decoration:none;}
a.navigationLink:hover { color: #d20000; text-decoration:none;}

a.homeNavigationLink:link { color: black; text-decoration:none;}
a.homeNavigationLink:visited { color: black; text-decoration:none;}
a.homeNavigationLink:hover { color: #d20000; text-decoration:none;}

@media screen and (max-width: 1135px) {
    img.project-image {
        display: block;
        margin-left: auto;
        margin-right: auto 
    }
}

img.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#sidebar {
    position: fixed;
    top: 71px;
    bottom: 0;
    left: -0px;
    width: 140px;
    padding: 0px;
    border-right: 4px solid #000;
}

#sidebar-top-navigation {
    padding-left: 3px;
    padding-bottom: 10px;
    border-bottom: 3px solid #000;
}

#sidebar-bottom-navigation {
    padding: 3px;
}
#content {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 30px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #fdfbf4;
    border-radius:5px;
}
#header {
    margin: 0px 0px 0px 0px;
    padding-top: 0px;
    text-align: center;
}
#header #date{
    font-family: 'Oswald', sans-serif;
    font-size: 10px;
    color: #999999;
    font-style:italic;
}
#content-body {
    padding-top: 10px;
}
#project-content {
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-top: 8px;
    background-color: #fdfbf4;
    border-radius:5px;
}
#homeTitle {
    font-family: 'Oswald', sans-serif;
    font-size: 72px;
}
#homeSubTitle {
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    margin-left: 10%;
    margin-right: 10%;
}
#titlekarl {
    position: fixed;
    font-family: 'Oswald', sans-serif;
    color: #d20000;
    font-size: 48px;
    top: 0px;
    bottom: 0;
    left: 0;
    text-decoration:none;
}
#footer {
    text-align: center;
}