<!DOCTYPE html>
<html>

<head>
    <title>Karl Floersch | Portfolio</title>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>

<body>
    <div id="titlekarl">KarlFloersch</div>
    <!-- ADD WHEN YOU FIGURE OUT THE REST!<canvas id="canvas" onscroll="on_scroll()" src="/static/javascript/blindbackground.js"></canvas>-->
    <div class="container">
        <div id="sidebar">
            <H1>
                <a href="/" class="navigationLink">Home</a><br>
                <a href="/blog" class="navigationLink">Blog</a><br>
                <a href="/projects" class="navigationLink">Projects</a><br>
                <a href="/contact" class="navigationLink">Contact</a><br>
               <hr style="height:4px;border:none;color:#000000;background-color:#000000;">
               Currents
           </H1>
            <div class="currents">
                <H3><a href="{{ post1_url }}" class="navigationLink">{{ post1_title }}</a></H3>
                {{ post1_content }}
            </div>
            <br>
            <div class="currents">
                <H3><a href="{{ post2_url }}" class="navigationLink">{{ post2_title }}</a></H3>
                {{ post2_content }}
            </div>
        </div>
        {% block body %} 
        {% endblock %}
        <footer><br><br><br><br>Copyright 2058 | <a href="/" style="color:#000000">Home</a> | <a href="/blog" style="color:#000000">Blog</a> | <a href="/projects" style="color:#000000">Projects</a> | <a href="/contact" style="color:#000000">Contact</a> </footer>
    </div>

</body>

</html>