{% extends "base.html" %}


{% block body %}
<div id="header">
	<div id="homeTitle">
		Lets get in touch!
	</div>
	<div id="homeSubTitle">
		<br><br>
		Feel free to shoot me an email at <a href="mailto:karl@karlfloersch.com">karl@karlfloersch.com</a>.<br>
		I'm also on <a href="https://github.com/karlfloersch">github</a>, and <a href="http://stackoverflow.com/users/1475626/karl">stackoverflow</a>. 
		<br>I'd love to hear from you!
	</div>
	<br><br><br><br>
	<img alt="logo" src="/static/images/logo.png">
	<br><br><br><br><br>
</div>


{% endblock %}