{% extends "base.html" %}


{% block body %}
<div id="header">
	<div id="homeTitle">
		Well, Hello There!
	</div>
	<div id="homeSubTitle">
		I’m Karl Floersch. Welcome to my personal website! Feel free to check out my <a href="/blog" class="homeNavigationLink"><b>blog</b></a>, <a href="/projects" class="homeNavigationLink"><b>projects</b></a>, or even <a href="/contact" class="homeNavigationLink"><b>contact</b></a> me
		if you feel so inclined.
	</div>
	<br><br><br><br>
	<img alt="logo" src="/static/images/logo.png">
	<br><br><br><br><br>
</div>

<div class="homeContentBox">
	<H3>About Me</H3>

	<img alt="Me!" align="Left" src="/static/images/pictureofme.jpg">
	I'm Karl Floersch, a creator, thinker, and explorer. I'm studying as a junior in Stony Brook University pursuing a computer science degree. I spend my time creating and analyzing games, applications, and music, as well as exploring current events, the human condition, mathematics, and physics. I have aspirations to help contribute to people’s collective intelligence and to gain a better understanding of the world we live in. 
</div>
{% endblock %}