{% extends "base.html" %}


{% block body %}
<div id="header">
	<H1>
		Projects
	</H1>
</div>
<div id="project-content">
	<img src="http://www.dogbreedinfo.com/images14/PoodleMiniPeanutpuppypeanut9wks905008.JPG" alt="this is a poodle">
	<img src="http://www.dogbreedinfo.com/images14/PoodleMiniPeanutpuppypeanut9wks905008.JPG" alt="this is a poodle">
	<img src="http://www.dogbreedinfo.com/images14/PoodleMiniPeanutpuppypeanut9wks905008.JPG" alt="this is a poodle">
	<img src="http://www.dogbreedinfo.com/images14/PoodleMiniPeanutpuppypeanut9wks905008.JPG" alt="this is a poodle">
	<img src="http://www.dogbreedinfo.com/images14/PoodleMiniPeanutpuppypeanut9wks905008.JPG" alt="this is a poodle">
	<img src="http://www.dogbreedinfo.com/images14/PoodleMiniPeanutpuppypeanut9wks905008.JPG" alt="this is a poodle">
</div>
{% endblock %}
