{% extends "base.html" %}


{% block body %}
    <h2>Signup</h2>
    <form method="post">
		
		<label for=​"username">​Username:</label>​
		<input type="text" name="username" id="username" value="{{username}}">
        <span class="error">
            {{error_username}}
        </span>
        
        <label for=​"password">Password:</label>​
        <input type="password" name="password" id="password" value="">
        <span class="error">
            {{error_password}}
        </span>

        <label for=​"password">Verify Password:</label>​
        <input type="password" name="verify" id="verify" value="">
        <span class="error">
            {{error_verify}}
        </span>

        <label for=​"email">Email (optional):</label>​
        <input type="text" name="email" id="email" value="{{email}}">
        <span class="error">
            {{error_email}}
        </span>

      <input type="submit">
    </form>
{% endblock %}
